{
  "presets": [
    "stage-2",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": true,
        "modules": false
      }
    ]
  ],
  "ignore": ["node_modules/*"]
}
